<table border='1' style='border-collapse: collapse;' width='100%' ><tr><th>Time</th><th>Authors</th><th>Tweets</th><th>Retweet Author</th><th>Retweet Content</th></tr><tr><td>2020-05-04 13:35:32</td><td>jokowi</td><td>Saya meminta para kepala daerah fleksibel mencari solusi bagi warga miskin yang belum menerima bansos. 

Data penerima agar transparan: siapa, kriterianya apa, jenis bantuannya, dll. Ini agar lebih jelas dan tidak menimbulkan kecurigaan. Kita juga bisa mengoreksi di lapangan.</td><td>BertusEinstein</td><td>
                ☆WA 082236934433
Politik Nasionalis Radikal
            </td></tr><tr><td>2020-05-04 13:35:06</td><td>jokowi</td><td>Semua program jaring pengaman sosial, PKH, sembako, bansos, BLT, hingga Dana Desa, telah berjalan. 

Saya minta Menteri Sosial, para gubernur, bupati, wali kota, camat, hingga kepala desa turun dan memastikan seluruh program sampai di tangan keluarga penerima pada pekan ini.</td><td>mulyonotegal007</td><td>
                Sayangi Mahluk yg ada di Bumi,niscaya Engkau akan disayangi Mahluk yg ada di Langit
            </td></tr><tr><td>2020-05-04 13:14:36</td><td>jokowi</td><td>Laporan yang saya terima, ada 89.000 pekerja migran Indonesia yang sudah kembali dari luar negeri, dan kemungkinan bertambah 16.000 orang lagi. 

Jajaran pemerintah saya minta untuk menangani dan mengawal kepulangan mereka dengan baik.</td><td>RumahJokowi</td><td>
                </td></tr><tr><td>2020-05-04 13:14:10</td><td>jokowi</td><td>Berbagai klaster penyebaran Covid-19 kita monitor ketat. Selain pekerja migran, misalnya, ada klaster jamaah tablig, klaster rembesan pemudik, klaster industri, dll. 

Pengawasan klaster harus dilakukan secara baik guna mengantisipasi munculnya gelombang kedua.</td><td>Widowhunterr</td><td>
                God Bless
            </td></tr><tr><td>2020-05-04 13:10:58</td><td>jokowi</td><td>Penerapan PSBB telah berlangsung di 4 provinsi dan 12 kab/kota di Indonesia. Kita evaluasi penerapan PSBB itu: mana yang terlalu over, yang kebablasan, dan yang masih kendur. 

Evaluasi ini penting untuk perbaikan-perbaikan di kota/kab maupun provinsi tersebut.</td><td>wahyu46891976</td><td>
                
            </td></tr><tr><td>2020-05-02 12:07:41</td><td>jokowi</td><td>Pandemi Covid-19 telah memberi kita begitu banyak pelajaran, tidak hanya tentang upaya memutus mata rantai penularannya, tapi juga bagaimana anak-anak kita tetap belajar, dan bagaimana sekolah-sekolah berkreasi memanfaatkan teknologi dalam proses belajar mengajar.</td><td>bpskabblitar</td><td>
                
            </td></tr><tr><td>2020-05-01 17:04:05</td><td>jokowi</td><td>Demi mengurangi dampak buruk Covid-19, pemerintah berusaha melindungi para buruh agar tetap berpenghasilan, juga mempertahankan kemampuan ekonomi para pelaku usaha melalui berbagai kebijakan.

Semuanya bertujuan agar buruh dan pengusaha bisa bertahan di era pandemi ini.</td><td>jalananpagi</td><td>
                
            </td></tr><tr><td>2020-04-30 18:26:43</td><td>jokowi</td><td>Saya membuka Musrenbangnas tahun ini dengan pesan: perencanaan pembangunan tahun depan harus adaptif. 

Kita bersiap dengan berbagai skenario. Dengan itu, kita siapkan langkah mitigasi dampak kesehatan, ekonomi, sekaligus pemulihan, jika pandemi sudah bisa kita kendalikan.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-30 18:22:15</td><td>jokowi</td><td>Dalam kondisi tekanan yang luar biasa, kita butuh sinergi yang kuat dan terjalin erat antara pemerintah pusat dan pemerintah daerah. Semua harus berjalan dalam satu visi,  satu arah dan kebijakan yang solid. 

Dengan sinergi itu, kita bisa melewati badai ini dengan selamat.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-30 18:18:11</td><td>jokowi</td><td>Kita lebih tahu berbagai potensi di dalam negeri yang belum dikelola maksimal, belum dibangun dan manfaatkan secara baik.

Karena itulah, perencanaan pembangunan tahun 2021 dan tahun-tahun berikutnya harus betul-betul adaptif dengan perkembangan situasi yang kita hadapi saat ini.</td><td>ismirza74</td><td>
                anti terorisme dan radikalisme
            </td></tr><tr><td>2020-04-30 18:16:46</td><td>jokowi</td><td>Pandemi Covid-19 telah memberi kesempatan kepada kita untuk melihat apa saja yang perlu diperbaiki di berbagai aspek di negara kita: dari ketahanan sosial, ekonomi, pangan, ketergantungan kepada negara lain, dan terutama dunia kesehatan kita.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-30 16:50:52</td><td>jokowi</td><td>Kita lebih tahu berbagi potensi di dalam negeri yang belum dikelola maksimal, belum dibangun dan manfaatkan secara baik. 

Karena itulah, perencanaan pembangunan tahun 2021 dan tahun-tahun berikutnya harus betul-betul adaptif dengan perkembangan situasi yang kita hadapi saat ini.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-30 14:10:07</td><td>jokowi</td><td>Selamat bekerja Bapak Muhammad Syarifuddin sebagai Ketua Mahkamah Agung Republik Indonesia.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-29 18:08:14</td><td>jokowi</td><td>Pemerintah menyiapkan lima skema perlindungan dan pemulihan ekonomi bagi UMKM di tengah pandemi ini. 

Yakni, bansos bagi yang kategori miskin, insentif perpajakan, relaksasi dan restruktrurisasi kredit, perluasan pembiayaan, sampai pemerintah jadi penyangga dalam ekosistem UMKM.</td><td>Nana_Rosaa_</td><td>
                </td></tr><tr><td>2020-04-28 17:36:27</td><td>jokowi</td><td>Covid-19 ini tidak mengenal batas negara, suku, dan agama. Kita tak mungkin menanganinya sendirian.

Karena itulah, saya telah berbicara dengan pemimpin negara Arab Saudi, UEA, AS, RRT, Rusia, Jepang, Singapura, Australia, dll, dalam semangat solidaritas untuk saling membantu.</td><td>BlackMa05801999</td><td>
                Travelling 70% of the Earth - the ocean that is
            </td></tr><tr><td>2020-04-28 16:43:39</td><td>jokowi</td><td>Sepenggal sajak di musim pandemi.</td><td>BangtanT7_</td><td>
                :)
            </td></tr><tr><td>2020-04-27 12:58:42</td><td>jokowi</td><td>Pemerintah bersama DPR memiliki pandangan yang sama untuk menunda pembahasan klaster Ketenagakerjaan dalam RUU Cipta Kerja. 

Dengan penundaan itu, akan lebih banyak waktu mendalami substansi dari pasal-pasal terkait, juga untuk mendapatkan masukan dari para pemangku kepentingan.</td><td>BangtanT7_</td><td>
                :)
            </td></tr><tr><td>2020-04-25 14:39:37</td><td>jokowi</td><td>Menggalang bantuan APD, berkreasi membuat kotak disinfektan, hand sanitizer, berbagi  makanan, menebar narasi positif, dll.

Begitulah sifat solidaritas, gotong royong, bantu membantu, dan kreativitas bangsa Indonesia menghadapi pandemi Covid-19 ini.</td><td>BangtanT7_</td><td>
                :)
            </td></tr><tr><td>2020-04-24 19:50:11</td><td>jokowi</td><td>Saya memahami keputusan pengunduran diri Adamas Belva Syah Devara dan Andi Taufan Garuda Putra dari jabatan Staf Khusus Presiden. 

Keduanya adalah anak muda cerdas dengan reputasi dan prestasi yang sangat baik. Saya percaya mereka akan sukses di bidang masing-masing.</td><td>Mellysanadiya</td><td>
                My hijab ,my choice,my life</td></tr><tr><td>2020-04-24 08:27:26</td><td>jokowi</td><td>Tidak ada kesemarakan di jalanan. Ruang masjid pun berada dalam kedaan sepi. 

Suasana Ramadan yang berbeda dari tahun-tahun lalu, tapi kita jalani dengan penuh rasa syukur oleh kesempatan yang lebih lapang untuk beribadah.</td><td>Marthen20942061</td><td>
                
            </td></tr><tr><td>2020-04-14 12:17:01</td><td>aniesbaswedan</td><td>Mari disiplin menjalankan semua langkah </td><td>bennydwirisdian</td><td>
                
            </td></tr><tr><td>2020-05-02 22:09:45</td><td>aniesbaswedan</td><td>Gubernur </td><td>IinYanuarti</td><td>
                nyantai
            </td></tr><tr><td>2020-05-02 20:33:53</td><td>aniesbaswedan</td><td>https://</td><td>petrusx234</td><td>
                
            </td></tr><tr><td>2020-05-02 20:33:33</td><td>aniesbaswedan</td><td>Jakarta has given us so much opportunity, let’s pay back to our city. Let’s help our fellow Jakartans who are in need.

Jakarta is calling, will you answer?

</td><td>imharsunar</td><td>
                Kebenaran harus diperjuangkan
            </td></tr><tr><td>2020-05-02 13:07:32</td><td>aniesbaswedan</td><td>Hari-hari ini kita belajar di rumah dalam suasana pembatasan sosial, tapi ini juga membuka kesempatan untuk kolaborasi sosial.

Inilah kolaborasi murid, guru, </td><td>CindarNasmoco</td><td>
                jual mobil toyota. semarang dan jawa tengah
            </td></tr><tr><td>2020-05-01 15:34:35</td><td>aniesbaswedan</td><td>20 juta masker kain diproduksi bagi seluruh penduduk Jakarta. Tiap orang dapat 2 masker, gratis. 

Ini ikhtiar Pemprov DKI Jakarta untuk melindungi warga sekaligus menggerakkan roda perekonomian di kampung-kampung.

</td><td>regita_wd</td><td>
                
            </td></tr><tr><td>2020-04-29 17:26:47</td><td>aniesbaswedan</td><td>Jakarta Memanggil!

Mari membantu sesama yang membutuhkan, dalam program Kolaborasi Sosial Berskala Besar (KSBB) dalam menghadapi pandemik COVID-19 khususnya di Provinsi DKI Jakarta.

</td><td>Mushlih21</td><td>
                live a lovely life | S1 ITB - S2 TokyoTech JPN |
            </td></tr><tr><td>2020-04-29 11:05:14</td><td>aniesbaswedan</td><td>Keputusanmu membatasi berkegiatan di luar rumah dan menaati aturan </td><td>RArsalan88</td><td>
                *. Sabar & Syukur.
*.LELAH Boleh, MENYERAH jangan.
*.Talk Less, Do More.
*.Life Is Choice.
            </td></tr><tr><td>2020-04-28 21:05:45</td><td>aniesbaswedan</td><td>Mari saling bantu dan menguatkan di tengah deru pandemi ini!
⁣⁣
Kamu bisa ikut berkolaborasi mendonasikan: APD, alat kesehatan, bahan pangan pokok utk masyarakat rentan, dll.

Kunjungi </td><td>arena51</td><td>
                je suis muslim, et j'aime mon prophete
            </td></tr><tr><td>2020-04-28 10:23:36</td><td>aniesbaswedan</td><td>[Live] 28 April 2020 Gubernur dan Wagub Virtual Conference dengan Perusahaan dan Asosiasi Bisnis di Jakarta </td><td>Ayah86410629</td><td>
                
            </td></tr><tr><td>2020-04-25 21:20:45</td><td>aniesbaswedan</td><td>Pada masa </td><td>Jajang25194548</td><td>
                Pilihlah yang tepat
            </td></tr><tr><td>2020-04-24 10:15:55</td><td>aniesbaswedan</td><td>Jika saya memenuhi kriteria, tapi belum mendapat bantuan sosial, maka harus bagaimana, ya?

Kalau kamu mempunyai pertanyaan atau permasalahan terkait bansos, hubungi call center 021-4265115 (08.00-17.00) atau WA 0821 1142 0717.⁣

</td><td>AntCovid</td><td>
                For a second wave pandemic?... Oh nooo
            </td></tr><tr><td>2020-04-24 10:41:02</td><td>aniesbaswedan</td><td>Smartcitizen, Ramadan tahun ini mungkin berbeda dari tahun sebelumnya. Walau hanya di rumah saja, semoga pandemi ini tidak menjadi penghambat bagimu, ya!

Nah, ada tips nih agar kamu tetap aman dan tenang dalam menjalankan ibadah di tengah pandemi ini. 

</td><td>little_hippo24</td><td>
                call me Hip, owkeeyy??
Manajemen transportasi udara ,2017
            </td></tr><tr><td>2020-04-23 21:37:39</td><td>aniesbaswedan</td><td>Ramadan kali ini berbeda, namun tak berarti kita tak bisa membuatnya lebih bermakna.

Selamat memasuki bulan suci Ramadan. Insya Allah kita bisa mencapai derajat muttaqin dan digolongkan ke dalam orang-orang yang meraih kemenangan.</td><td>bbryan5758</td><td>
                </td></tr><tr><td>2020-04-23 18:45:44</td><td>DKIJakarta</td><td>#</td><td>ganjargun85</td><td>
                
            </td></tr><tr><td>2020-04-22 15:29:13</td><td>aniesbaswedan</td><td>Pastikan kamu mendapatkan informasi dan data yang terverifikasi terkait COVID-19 di </td><td>idayuliia</td><td>
                
            </td></tr><tr><td>2020-04-22 19:22:54</td><td>aniesbaswedan</td><td>Yuk, jadi bagian dalam proses Musyawarah Perencanaan Pembangunan Provinsi DKI Jakarta melalui live streaming di akun Instagram, Facebook, dan Youtube Channel Bappeda DKI Jakarta besok, Kamis, 23 April 2020⁣, pukul 09.00 WIB⁣.
⁣
</td><td>bbryan5758</td><td>
                </td></tr><tr><td>2020-04-22 21:39:44</td><td>aniesbaswedan</td><td>Pemprov DKI Jakarta resmi perpanjang masa Pembatasan Sosial Berskala Besar (PSBB) di Ibu Kota, hingga 22 Mei 2020.⁣

Teman-teman, kunci keberhasilan pelaksanaan </td><td>Kel_Cipedak</td><td>
                
            </td></tr><tr><td>2020-04-14 12:17:01</td><td>aniesbaswedan</td><td>Mari disiplin menjalankan semua langkah </td><td>bennydwirisdian</td><td>
                
            </td></tr><tr><td>2020-04-21 21:26:38</td><td>DKIJakarta</td><td>“Tetapi sekarang ini, kami tiada mencari penglipur hati pada manusia. Kami berpegangan teguh-teguh pada tangan-Nya. Maka hari gelap gulita pun menjadi terang, dan angin ribut pun menjadi sepoi-sepoi” (RA Kartini)

</td><td>Farin62725707</td><td>
                smart
            </td></tr><tr><td>2020-04-20 18:40:59</td><td>DKIJakarta</td><td>Smartcitizen, kamu ingin memantau perkembangan kasus COVID-19 terbaru di wilayah Jakarta?

Berbagai informasi dan data lengkap seputar kasus COVID-19 dapat kamu temukan melalui fitur data pemantauan yang terdapat di website </td><td>kinandari_alma</td><td>
                Assalamu alaikum, aku Alma, twitter ini bapak aku yg buatin buat nti kl ųđђ gede :D
            </td></tr><tr><td>2020-05-03 01:36:31</td><td>basuki_btp</td><td>Dapatkan </td><td>Eben83Eben</td><td>
                
            </td></tr><tr><td>2020-05-01 16:14:53</td><td>basuki_btp</td><td>Sobat, minggu lalu udah ada kolaborasi yang keren dari Afgan dan Andien di Konser Digital </td><td>ErnaZahra</td><td>
                SANGAT PRIHATIN THDP RADIKALISME & INTOLERANSI
            </td></tr><tr><td>2020-04-27 16:14:03</td><td>basuki_btp</td><td>Solusi Qlue Untuk menekan penyebaran COVID-19 di Indonesia </td><td>rudijanto7067</td><td>
                Jangan Tertular Jangan Menulari
Cegah & Lawan virus corona </td></tr><tr><td>2020-04-23 21:18:42</td><td>basuki_btp</td><td>Selamat menunaikan ibadah puasa seluruh umat Islam. Semoga Bulan Ramadhan ini memberi berkah bagi kita semua.</td><td>ErnaZahra</td><td>
                SANGAT PRIHATIN THDP RADIKALISME & INTOLERANSI
            </td></tr><tr><td>2020-04-22 20:25:22</td><td>basuki_btp</td><td>Pertashow </td><td>ErnaZahra</td><td>
                SANGAT PRIHATIN THDP RADIKALISME & INTOLERANSI
            </td></tr><tr><td>2020-04-21 12:00:25</td><td>basuki_btp</td><td>Di situasi seperti saat ini, Saya rasa menjadi relevan jika mengingat kutipan kalimat beliau yang terkenal: "Sehabis gelap pasti terbitlah terang", Percayalah bahwa masa sulit ini akan segera berlalu. kita harus saling menguatkan dan membantu. Selamat hari Kartini.</td><td>ErnaZahra</td><td>
                SANGAT PRIHATIN THDP RADIKALISME & INTOLERANSI
            </td></tr><tr><td>2020-04-20 10:43:13</td><td>basuki_btp</td><td>Yuk nonton konser digital </td><td>dodi_ahmad07</td><td>
                Liverpool is My life :*
            </td></tr><tr><td>2020-04-20 10:09:58</td><td>basuki_btp</td><td>DPD </td><td>Hasdung_HBS</td><td>
                akun asli,marhaenis dan grassroots PDIP,wong ndeso yg tak mau di bohongi,penikmat Tuak
            </td></tr><tr><td>2020-04-17 11:10:03</td><td>basuki_btp</td><td>Mewakili </td><td>dodi_ahmad07</td><td>
                Liverpool is My life :*
            </td></tr><tr><td>2020-04-15 17:05:09</td><td>basuki_btp</td><td>Mendukung pemerintah dalam penanganan wabah COVID19, </td><td>dodi_ahmad07</td><td>
                Liverpool is My life :*
            </td></tr><tr><td>2020-04-14 10:22:36</td><td>basuki_btp</td><td>AHOK - BOSEN WFH? </td><td>dodi_ahmad07</td><td>
                Liverpool is My life :*
            </td></tr><tr><td>2020-04-13 20:45:06</td><td>basuki_btp</td><td>Kita harus melindungi petugas medis yang saat ini mempertaruhkan nyawa di garda depan. Ayo kita ikut berdonasi di</td><td>Kartika26625801</td><td>
                
            </td></tr><tr><td>2020-04-13 12:38:41</td><td>basuki_btp</td><td>Pertamina Bangga Sebagai BUMN

Dengan energi yang tak berhenti, Pertamina menjahit asa dari setiap ujung negeri, menyapa masyarakat dengan energi yang tersaji di kehidupan setiap hari. 

Dirgahayu </td><td>sahabatAlladin</td><td>
                Server mutualan limit, follow aja auto follback</td></tr><tr><td>2020-04-13 14:39:21</td><td>MyPertaminaID</td><td>Unt sobat rider ojek online, dapatkan cashback 50% maksimal Rp 15.000 bagi 10.000 pengendara ojek online perhari, unt pembelian Pertalite, Pertamax dan Pertamax Turbo dgn aplikasi MyPertamina.
.
Promo berlaku pada periode 14 April-12 Juli 2020.
</td><td>aditama_feri</td><td>
                diam menghanyutkan
            </td></tr><tr><td>2020-04-08 21:31:25</td><td>MyPertaminaID</td><td>Selamat jalan </td><td>felixboomy</td><td>
                There is only one race, the HUMAN RACE!
            </td></tr><tr><td>2020-03-31 20:03:42</td><td>basuki_btp</td><td>Ayo kita bergerak bersama. Tiga langkah mudah untuk membantu Indonesia melawan Covid-19. </td><td>icesugatae</td><td>
                Taegijoon is my personality. STAN ALL 7 MEMBERS</td></tr><tr><td>2020-03-25 19:00:26</td><td>basuki_btp</td><td>Turut berduka cita atas meninggalnya Ibu Sujiatmi Notomiharjo, Ibunda dari Bapak Presiden </td><td>DariusSimamora5</td><td>
                tetap mencari dan menegakkan yang benar
            </td></tr><tr><td>2020-03-22 18:58:40</td><td>basuki_btp</td><td>Pertamina Delivery Service unt membantu seluruh aktivitas kamu selama Work From Home. 

</td><td>ryofucha</td><td>
                iM@S 北斗P | MLBB AluTig | Marvel </td></tr><tr><td>2020-03-20 16:50:50</td><td>basuki_btp</td><td>Semua donasi akan dipergunakan untuk penyediaan alat pelindung diri yang ideal dan makanan sehat untuk tim medis yang sedang berjuang melawan Corona.

GALANG DANA SUDAH RESMI DIBUKA di </td><td>tok_aing</td><td>
                
            </td></tr><tr><td>2020-03-20 10:49:52</td><td>pertamina</td><td>Terima kasih, dan tetap jaga kesehatan. Bersama kita bisa lewati ini semua.</td><td>shinta_sajow</td><td>
                
            </td></tr><tr><td>2020-05-02 19:53:52</td><td>ChrisEvans</td><td>Woke up to a notification saying my new IG acct got put on hold due to unusual activity. Do I already regret this???</td><td>freakartdeco</td><td>
                but 𝖞𝖔𝖚 fit me better than my fav sweater
            </td></tr><tr><td>2020-05-02 07:40:02</td><td>ChrisEvans</td><td>I haven’t DM’d anyone on IG. People are telling me the photoshop goblins are already at work </td><td>Marvldrw</td><td>
                • ᴛʜᴇ ᴠᴀᴍᴘɪʀᴇ ᴅɪᴀʀɪᴇs • ɢʀᴇʏ's ᴀɴᴀᴛᴏᴍʏ • ғʀɪᴇɴᴅs • sᴛʀᴀɴɢᴇʀ ᴛʜɪɴɢs • ʀᴇɪɢɴ • sᴄʀᴇᴀᴍ • ᴍᴀʀᴠᴇʟ • ᴄʜʀɪs ᴇᴠᴀɴs sᴛᴀɴ • RESERVA DO </td></tr><tr><td>2020-05-02 04:29:29</td><td>ChrisEvans</td><td>Well I don’t think I can beat getting eaten by a dinosaur!! But how about playing some virtual games as well as a private Q&A with me and 5 of my closest friends named Robert Downey Jr, Chris Hemsworth, Scarlett Johansson, Mark Ruffalo and Jeremy Renner?</td><td>jess24091983</td><td>
                
            </td></tr><tr><td>2020-05-01 09:13:00</td><td>ChrisEvans</td><td>Whoops just seeing this! Challenge accepted! I’ll attach a fancy link with details tomorrow</td><td>plols291</td><td>
                </td></tr><tr><td>2020-04-30 11:27:06</td><td>ChrisEvans</td><td>https://</td><td>xxJHopefanxx</td><td>
                This bitch is obsessed with BTS, Marvel and gay stuff. Hi:)
            </td></tr><tr><td>2020-04-28 09:12:56</td><td>ChrisEvans</td><td>Sharing </td><td>Tun_eiei</td><td>
                </td></tr><tr><td>2020-04-28 08:48:56</td><td>ChrisEvans</td><td>That long crane shot to find Cap and Peggy in the window... our favorite shot in the movie. </td><td>quynhthohuynh</td><td>
                SONE, Hidden KARD, NCTzen. SM stan and 2nd gen stan in general.
            </td></tr><tr><td>2020-04-26 10:35:07</td><td>ChrisEvans</td><td>And now, a message from Dr. Anthony Fauci. </td><td>methodenkritik</td><td>
                professor of digital journalism and science journalist with a background in philosophy of science
            </td></tr><tr><td>2020-04-25 21:16:28</td><td>ChrisEvans</td><td>Thank you all so much for the </td><td>atenonaa</td><td>
                stressed geek
            </td></tr><tr><td>2020-04-25 07:05:32</td><td>ChrisEvans</td><td>There are some things you can’t protect your child from.

Watch </td><td>Yhy_712</td><td>
                </td></tr><tr><td>2020-04-25 01:10:15</td><td>ChrisEvans</td><td>C’mon, Biff. 

You know you were being filmed when you said it, right? In no way whatsoever were you:

A. Being sarcastic
B. Speaking to reporters 

You were speaking directly to medical experts without a shred of sarcasm.</td><td>Marvldrw</td><td>
                • ᴛʜᴇ ᴠᴀᴍᴘɪʀᴇ ᴅɪᴀʀɪᴇs • ɢʀᴇʏ's ᴀɴᴀᴛᴏᴍʏ • ғʀɪᴇɴᴅs • sᴛʀᴀɴɢᴇʀ ᴛʜɪɴɢs • ʀᴇɪɢɴ • sᴄʀᴇᴀᴍ • ᴍᴀʀᴠᴇʟ • ᴄʜʀɪs ᴇᴠᴀɴs sᴛᴀɴ • RESERVA DO </td></tr><tr><td>2020-04-24 23:01:25</td><td>ChrisEvans</td><td>Sometimes family ties and family lies are one in the same. </td><td>QingminChen</td><td>
                
            </td></tr><tr><td>2020-04-24 23:36:02</td><td>ChrisEvans</td><td>First three episodes out today!! I got to work with some of my favorites, and oh boy do they deliver! </td><td>Marvldrw</td><td>
                • ᴛʜᴇ ᴠᴀᴍᴘɪʀᴇ ᴅɪᴀʀɪᴇs • ɢʀᴇʏ's ᴀɴᴀᴛᴏᴍʏ • ғʀɪᴇɴᴅs • sᴛʀᴀɴɢᴇʀ ᴛʜɪɴɢs • ʀᴇɪɢɴ • sᴄʀᴇᴀᴍ • ᴍᴀʀᴠᴇʟ • ᴄʜʀɪs ᴇᴠᴀɴs sᴛᴀɴ • RESERVA DO </td></tr><tr><td>2020-04-24 03:41:33</td><td>ChrisEvans</td><td>I have my own version of Stanley Tucci’s super cool Negroni video except it’s me in sweatpants chugging from a wine bottle inside the fridge door while pretending to find more string cheese.</td><td>KhalishahMuslee</td><td>
                
            </td></tr><tr><td>2020-04-24 05:57:52</td><td>ChrisEvans</td><td>These guys are real-life super heroes.</td><td>KhalishahMuslee</td><td>
                
            </td></tr><tr><td>2020-04-21 03:01:32</td><td>ChrisEvans</td><td>In the UK, a 94-year old veteran used to  go to bed every night with a photo of his late wife on his night stand.

One day, staff at his nursing home decided to surprise him with something special - a pillow with her photo on it.

This was his reaction.</td><td>Marvldrw</td><td>
                • ᴛʜᴇ ᴠᴀᴍᴘɪʀᴇ ᴅɪᴀʀɪᴇs • ɢʀᴇʏ's ᴀɴᴀᴛᴏᴍʏ • ғʀɪᴇɴᴅs • sᴛʀᴀɴɢᴇʀ ᴛʜɪɴɢs • ʀᴇɪɢɴ • sᴄʀᴇᴀᴍ • ᴍᴀʀᴠᴇʟ • ᴄʜʀɪs ᴇᴠᴀɴs sᴛᴀɴ • RESERVA DO </td></tr><tr><td>2020-04-23 21:02:42</td><td>ChrisEvans</td><td>This thread is incredibly frustrating.</td><td>Marvldrw</td><td>
                • ᴛʜᴇ ᴠᴀᴍᴘɪʀᴇ ᴅɪᴀʀɪᴇs • ɢʀᴇʏ's ᴀɴᴀᴛᴏᴍʏ • ғʀɪᴇɴᴅs • sᴛʀᴀɴɢᴇʀ ᴛʜɪɴɢs • ʀᴇɪɢɴ • sᴄʀᴇᴀᴍ • ᴍᴀʀᴠᴇʟ • ᴄʜʀɪs ᴇᴠᴀɴs sᴛᴀɴ • RESERVA DO </td></tr><tr><td>2020-04-21 20:03:14</td><td>prattprattpratt</td><td>I. Love. Stanley. Tucci.  

On some(most) days after we finished filming on the first Captain America movie, Stanley would make us martinis in his trailer. 

He’s an absolute gem. However cool, fun, witty, and charming you think he is, double it and you’re halfway there.</td><td>ChrisEv88576464</td><td>
                turn on your notifications, </td></tr><tr><td>2020-04-21 00:40:51</td><td>ChrisEvans</td><td>Two seconds later he full-body sneezed directly into my face.</td><td>elknight20</td><td>
                TQUAPGLBI blogger, comic book enthusiast, featured in the NYT, GeeksOUT Contributor, & Trans Man. Pronouns: He/Him. Motto: Live. Laugh. Learn. Respect. Love.
            </td></tr><tr><td>2020-04-18 09:00:55</td><td>octaviaspencer</td><td>What boundaries would you cross for the ones you love? </td><td>KhalishahMuslee</td><td>
                
            </td></tr><tr><td>2020-04-23 00:15:04</td><td>RobertDowneyJr</td><td>In honor of EARTH DAY, and in tandem with </td><td>Manojsss6</td><td>
                </td></tr><tr><td>2020-04-30 03:28:59</td><td>RobertDowneyJr</td><td>Laughing together, staying apart, supporting frontline health workers…You can count me in. Tune in this Friday 5/1 at 8p ET to support </td><td>penkiti125</td><td>
                剣盾、スプラ、あつ森、パズドラやってます‼︎お気軽にお声おかけください！
アイコン作成者様( </td></tr><tr><td>2020-04-17 00:02:27</td><td>RobertDowneyJr</td><td>Brighter days ahead. PERRY MASON premieres June 21st, on </td><td>saputrailhmm</td><td>
                
            </td></tr><tr><td>2020-04-14 23:00:01</td><td>RobertDowneyJr</td><td>I know it's Tuesday because I'm still wearing my Sunday pajamas. I ALSO know a way to get an exclusive sneak peek at PERRY MASON. All my love, DSB (double-scrub Bob) </td><td>MeeperzCreeperz</td><td>
                Just your adverage Marvel fan who is still not over the ending of infinity War. Also I love IronStrange and their adorable Spidy son :3
            </td></tr><tr><td>2020-04-05 03:48:35</td><td>RobertDowneyJr</td><td>Thanks to everyone who put a smile on my face today. There's a lot of you out there...</td><td>P88221313</td><td>
                
            </td></tr><tr><td>2020-04-05 03:38:45</td><td>RobertDowneyJr</td><td>Cleanliness is next to godliness
G.O.D. = Good Orderly Direction
Let's do this correctly
Heed local and state warnings, advisors, and all suggestions as we get fresh data—
That's my bday wish—
Because I love ya,,,,,
RDJ</td><td>P88221313</td><td>
                
            </td></tr><tr><td>2020-04-04 22:51:43</td><td>RobertDowneyJr</td><td>Sending you all the virtual hugs for your birthday, </td><td>smithhyyyy011</td><td>
                I am bisexual, I believe that you can like two different genders at the same time, got a problem leave⚤♡︎𖨆 𝓲 ꪶꪮꪜꫀ ɀꪖꪶꪶ☯︎︎ꕥ
            </td></tr><tr><td>2020-04-05 03:01:34</td><td>RobertDowneyJr</td><td>https://</td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-04-05 03:00:00</td><td>RobertDowneyJr</td><td>Wishing </td><td>Vijay_AnnaUyir</td><td>
                செத்துபோனாலும்..தளபதி</td></tr><tr><td>2020-04-05 02:10:00</td><td>RobertDowneyJr</td><td>Happy birthday to Disney Legend </td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-04-05 02:37:00</td><td>RobertDowneyJr</td><td>Happy Birthday to our Iron Man, </td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-04-05 02:57:48</td><td>RobertDowneyJr</td><td>https://</td><td>scevantsrogers</td><td>
                nerves mean you care - Shawn Mendes, 2019
            </td></tr><tr><td>2020-03-27 00:37:30</td><td>RobertDowneyJr</td><td>We welcome our newest Avenger with open arms. Well, open arms but 6 feet away...</td><td>Mae3Madeleine1</td><td>
                Sodias
            </td></tr><tr><td>2020-01-28 06:20:55</td><td>RobertDowneyJr</td><td>What a tragic loss... </td><td>Mae3Madeleine1</td><td>
                Sodias
            </td></tr><tr><td>2020-01-25 05:34:13</td><td>RobertDowneyJr</td><td>May good fortune, great health and an abundance of laughter fill your Lunar New Year. </td><td>neotokio619</td><td>
                素晴らしいご縁
素晴らしい経験、親切な方達との出会い
心より感謝しています。
どうもありがとうございました。
            </td></tr><tr><td>2020-01-24 22:49:59</td><td>Americares</td><td>I’m back on the red sofa tonight! Emma Thompson and I stopped by </td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-01-23 07:28:58</td><td>RobertDowneyJr</td><td>So much talent was on full display presented by the young French fans on the Dolittle tour! Thank you guys for the warm welcome, </td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-01-21 00:52:34</td><td>RobertDowneyJr</td><td>I’m excited to see how Germany likes </td><td>VishnuYOGI6</td><td>
                Official
            </td></tr><tr><td>2020-01-19 03:39:37</td><td>RobertDowneyJr</td><td>Thank you Indonesia, India, Colombia, Central America, Peru, Thailand, Singapore, Ecuador, and Bolivia for opening </td><td>neotokio619</td><td>
                素晴らしいご縁
素晴らしい経験、親切な方達との出会い
心より感謝しています。
どうもありがとうございました。
            </td></tr><tr><td>2020-01-18 08:33:48</td><td>RobertDowneyJr</td><td>trust me, ya won’t regret bringing the family this weekend.. whattaya say? Chee Chee’s game if you are!</td><td>Robert91910299</td><td>
                You know who I am?
            </td></tr></table>